* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #061014; 
}

.jogo {
    position: relative;
    width: 80%;
    height: 600px;
    overflow: hidden;
}

.cenario {
    position: absolute;
    width: 100%;
    height: 115%;
    top: 0;
    left: 0;
    z-index: 1; /
}

.cone {
    display: none;
    position: absolute;
    bottom: 0;
    width: 490px;
    height: 200px; 
    z-index: 2;
    animation: coneAnimado 1.6s infinite linear;
    object-fit: contain; 
}

@keyframes coneAnimado {
    from {
        right: -90px;
    }
    to {
        right: 100%;
    }
}

.estudante {
    width: 180px;
    position: absolute;
    bottom: 150px; 
    left: 5%;
    z-index: 4;
    animation: skatistaCorrendo 1s steps(8) infinite;
}

@keyframes skatistaCorrendo {
    from {
        background-position: 15;
    }
    to {
        background-position: 10px; 
    }
}

.pulo {
    animation: pulo 500ms ease-out;
}

@keyframes pulo {
    0% { bottom: 150px; } 
    40%, 50%, 60% { bottom: 300px; } 
    100% { bottom: 150px; } 
}

/* Estilo da Pontuação */
#contador {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 70px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 2px 2px 5px #000;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 5;
    font-family: 'Poppins', sans-serif;
}

#mensagem-perda {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: #FFF;
    font-size: 40px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 40px;
    border-radius: 15px;
    text-align: center;
    text-shadow: 2px 2px 5px #000;
    z-index: 6;
    font-family: 'Poppins', sans-serif;
}

#mensagem-perda .medalha {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: cover;
    margin-top: 10px;
}

.game-over-text {
    font-size: 50px;
    margin-bottom: 10px;
    display: block;
}

#vidas {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;
    display: flex;
    gap: 15px;
}

.icone-vida {
    width: 60px; 
    height: 60px;
    border-radius: 50%; 
    background-color: #000000; 
    padding: 5px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.icone-vida:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 25px rgba(255, 255, 255, 1); 
}


